body{
    background: white;
    background-image: url(flower.jpg);
    background-size: 430px 370px;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 150px;
  }
  
  h1{
    text-align:center;
    margin-bottom:10px;
    font-family: cursive;
    color: darkslateblue;
    font-size: 45px;
  }
  
  p.info{
    text-align:center;
    width:400px;
    margin:0 auto;
    font-size:18px;
    font-weight:bold;
    margin-bottom:20px;
    color: gray;
    border-style: dotted;
  }
  
  #game-base{
    width:640px;  
    margin:0 auto;
    padding-top:60px;
  }
  
  #game-table{
    width:434px;
    height:374px;
    margin:0 auto;
    position:relative;
    border-style: dotted;
    color: gray;
  }

footer {
  margin-top: 2em;
  color: darkslateblue;
  font-weight:bold;
  text-align: center;
}
  
  .disc{
    position:absolute;
    z-index:-1;
    top:-55px;
    left:14px;
    width:46px;
    height:46px;
    border-radius:46px;
    transition:all .3s;
  }
  
  .disc.pink{
    background: peachpuff;
  }
  
  .disc.green{
    background: darkseagreen;
  }